<mat-toolbar color="primary">
  <mat-label>Country: </mat-label>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-select id="country_name" [(ngModel)]="country_name" (selectionChange)="OnSelect($event)" selected="us"
      name="country_name" required>
      <mat-option value="us">United States</mat-option>
      <mat-option value="in">India</mat-option>
      <mat-option value="au">Australia</mat-option>
      <mat-option value="at">Austria</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<div *ngIf="show_news==true">
  <mat-form-field class="example-full-width">
    <mat-label>Topic</mat-label>
    <input matInput name="topic" [(ngModel)]="topic" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>From Date</mat-label>
    <input matInput disabled [matDatepicker]="picker" #from_Date="ngModel" name="from_Date" [(ngModel)]="from_date"
      placeholder="From">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>To Date</mat-label>
    <input matInput disabled [matDatepicker]="picker1" #to_Date="ngModel" name="to_Date" [(ngModel)]="to_date"
      placeholder="To">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1 disabled="false"></mat-datepicker>

  </mat-form-field>
  <button mat-raised-button color="accent" (click)="OnSubmit()">SUBMIT</button>
</div>
<div class="example-button-row">

</div>

<div *ngIf="show_news==true">
  <mat-card class="example-card" *ngFor="let element of news_arr">
    <mat-card-header>
      <img mat-card-avatar src="{{element.urlToImage}}" class="example-header-image">
      <mat-card-title (click)="OnDescription(element)">{{element.title}}</mat-card-title>
    </mat-card-header>
    <hr>
  </mat-card>
</div>
<mat-card class="example-card" *ngIf="show_description==true">
  <mat-card-header></mat-card-header>
  <img mat-card-image src="{{description_arr[0].urlToImage}}" alt="Loading Image">
  <mat-card-content>
    <h2>{{description_arr[0].title}}</h2>
    <p>
      <strong>Description:</strong>
      {{description_arr[0].description}}
    </p>
    <p>
      <strong>Content:</strong>
      {{description_arr[0].content}}
    </p>
    <p>
      <strong>Author:</strong>{{description_arr[0].author}}
    </p>
    <p>
      <strong>Date:</strong>{{description_arr[0].publishedAt | date:'dd-MM-yyyy'}}
    </p>
    <p>
      <strong>For More Info:</strong><a href="{{description_arr[0].url}}">Click Here</a>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="OnBack()" style="background-color:lightgreen;">
      <mat-icon>keyboard_backspace</mat-icon>Back
    </button>
  </mat-card-actions>
</mat-card>
